<div class="d-flex justify-content-center" id="select-category">
Select a category:
</div>
<div class="row d-flex justify-content-center">
{{#each categories as |category|}}
<a href="/category/{{category.id}}" class="col-11 col-sm-3 p-0 m-2 category rounded-pill btn-outline-primary">
      <div class="d-flex justify-content-center p-2">
        <h4 class="category-title">{{category.name}}</h4>
        </div>
      </a>
{{/each}}
</div>