Select a category:
<div class="row d-flex justify-content-center">
{{#each categories as |category|}}
    <div class="col-3 border rounded-3 border-5 p-0 border-dark m-2">
      <div class="d-flex justify-content-between title p-2">
        <h4 class="category-title"><a href="/category/{{category.id}}">{{category.name}}</a></h4>
        </div>
      </div>
{{/each}}
</div>