<div class="d-flex justify-content-center mb-0" id="subtitle">
Select a category:
</div>

<div class="row d-flex justify-content-center">

{{#each categories as |category|}}
  <a href="/category/{{category.id}}" class="col-11 col-sm-3 p-0 m-2 category rounded-3 btn-outline-primary">
      <div class="d-flex justify-content-center p-2 align-middle">
      <h4 class="category-title">{{category.name}} <span class="bi bi-controller"></span></h4>
      </div>
  </a>
{{/each}}
</div>


<div style="width: 100%; display:inline-block;" class="d-flex justify-content-center mt-2" >
  <span class="p-2">Search by Tags:</span>
  
  {{#each tags as |tag|}}
  <div class= "m-1" style="display: inline-block;">
    <a id="tags" class="p-2 small"href="/tag/{{tag.id}}">{{tag.tag_name}}</a>
  </div>
  {{/each}}
</div>
<div style="text-align: center; margin-bottom:100px">
<button class= "btn btn-primary m-1" style="background: #5e87b8"id="left"></button><button class="btn btn-primary m-1" style="background: #5e87b8" id="right">></button>
</div>

 <script src="/js/scroll.js"></script>