<div class="d-flex justify-content-center" id="subtitle">
Select a category:
</div>
<div class="row d-flex justify-content-center">
{{#each categories as |category|}}
<a href="/category/{{category.id}}" class="col-11 col-sm-3 p-0 m-2 category rounded-3 btn-outline-primary">
      <div class="d-flex justify-content-center p-2 align-middle">
        <h4 class="category-title">{{category.name}}</h4>
        </div>
      </a>
{{/each}}

 <div>
      <p>Tags:</p>
     {{#each tags as |tag|}}
      <a href="/tag/{{tag.id}}">{{tag.tag_name}}</a>
    </div>
    {{/each}}
  </div>
</div>