<div class="row m-2 d-flex justify-content-center">
  <h1 style="text-align: center; width: 100%; font-weight:bold; color:var(--first-color)">Ü Meet helps you create online meetings and events with your friends or other people around the world with your same interests.</h1>
  <div class="col-12 col-sm-5">
    
    <h2 id="subtitle">Login</h2>
    <form class="form login-form">
      <div class="form-group m-2">
        <label class="col-12" for="email-login">Email:</label>
        <input class="form-input col-12" type="text" id="email-login" />
      </div>
      <div class="form-group m-2">
        <label class="col-12" for="password-login">Password:</label>
        <input class="form-input col-12" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn" type="submit" id="login-button">Login</button>
      </div>
    </form>
  </div>

  <div class="col-12 col-sm-5">
    <h2 id="subtitle">Sign up</h2>
    <form class="form signup-form">
      <div class="form-group m-2">
        <label class="col-12" for="username-signup">Name:</label>
        <input class="form-input col-12" type="text" id="username-signup" />
      </div>
      <div class="form-group m-2">
        <label class="col-12" for="email-signup">Email:</label>
        <input class="form-input col-12" type="text" id="email-signup" />
      </div>
      <div class="form-group m-2">
        <label class="col-12" for="password-signup">Password:</label>
        <input class="form-input col-12" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn" type="submit" id="signup-button">Sign up!</button>
      </div>
    </form>
  </div>
</div>
<script src="./js/login.js"></script>