:root {
    --first-color: #5f5dbd;
    --second-color: #5e87b8;
    --third-color: #83cee0;
    --fourth-color: #a4fbe3;
    --title-font: 'League Spartan', sans-serif;
    --content-font: 'Lexend', sans-serif;
  }

body {
    background-color: var(--third-color);
    font-family: var(--title-font);
    margin:0;
    padding:0;
}

header {
    background: rgb(95,93,189);
    background: radial-gradient(circle, rgba(95,93,189,1) 34%, rgba(94,135,184,1) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
    font-family: var(--title-font);
    margin-bottom: 10px;
}

a:hover {
    filter: drop-shadow(0px 0px 5px var(--first-color));
}

nav, nav a {
    color: var(--third-color);
    font-size: 3vh;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bolder;
    margin-right: 10px;
}

#project-title {
    display: inline-block;
    color: var(--fourth-color);
    font-size: 8vh;
}

#subtitle {
    margin-bottom: 10px;
    font-size: 5vh;
    color: var(--first-color);
    margin-bottom: 25px;
}

.category {
    background-color: var(--second-color);
    text-decoration: none;
}

.category h4 {
    text-decoration: none;
    color: white;
}

.category-title {
    padding: 13% 0;
}

footer {
    background: rgb(95,93,189);
    background: radial-gradient(circle, rgba(95,93,189,1) 34%, rgba(94,135,184,1) 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 60%);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
}

.login-form, .signup-form {
    margin-bottom: 20px;
    font-size: 3vh;
    color: var(--first-color);
}

#login-button, #signup-button {
    margin-left: 10px;
}

#myForm {
  
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 30%;
    margin: auto;
    width:fit-content;
    height: fit-content;
    max-width: 100%;
    max-height: 100%;
    color: var(--first-color);
}
@media (max-width: 948px) {
    #myForm {
        padding: 0;
        top: 10%;
        left: 0;
        width: 100%;
        height:100%;
        margin: 0;
    }
}

  #myForm::after {
    content:"";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background: black;
    opacity: 50%;
    width: 100%;
    height:100%;
 
  } 

  #close {
    position: absolute;
    top: 0%;
    left: 90%;
    z-index:3;
    cursor: pointer;
  }
 
#logout, #new-event-button, #create-button, #update-button, #participate-button, #dont-button, #delete-button, #update-button, #add-tags, .is_button, #tags, .delete-tag {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    border-radius: 5px;
    background-color: var(--third-color);
    color: var(--first-color);
    font-size: 3vh;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bolder;
    margin-right: 10px;
}

#event-container, #event-container a, #my-events, #my-events a {
    text-decoration: none;
    background-color: var(--second-color);
    color: white;
    margin-right: 10px;
}

.event-title {
    text-align: center;
    font-size: 4vh;
    font-weight: bolder;
}

.event-content {
    font-size: 3vh;
    background-color: var(--third-color);
    color: var(--first-color);
}

.date-celebration {
    font-size: 2vh;
}

.author {
    font-size: 2vh;
    text-align: end;
}

.event-list, .new-event-button {
    margin-bottom: 60px;
}

#new-event-button {
    border: solid #5f5dbd;
    font-size: 3vh;
}

#create-button, #update-button, #login-button, #signup-button, #message-button, #participate-button, #dont-button, .is_button {
    background-color: #5f5dbd;
    color: white;
    margin-right: 0;
}

.update-event-form, .comment-list {
    border: #5f5dbd solid;
    font-size: 3vh;
    color: var(--first-color);
    margin-bottom: 10px;
}

#delete-button {
    display: inline-block;
    width: auto;
    font-size: 3vh;
    background-color: red;
    color: white;
}

.event-date {
    font-size: 2vh;
}

.content {
    font-size: 3vh;
}

.comment-list {
    overflow-y:auto;
    max-height: 45vh;
    display: block;
}

#event-data, #event-data h3 {
    font-size: 2.5vh;
}

#comment {
    border: #5f5dbd dashed;
    border-radius: 3px;
}

#posted-by {
    font-size: 2vh;
}


::-webkit-scrollbar {
    height: 10px;
  }
  

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--first-color); 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--fourth-color)
  } 

#tags {
    border: 1px var(--first-color) solid;
    display: inline-block;
    padding: 10px;
    font-size: 2vh;
}

#add-tag {
    display: inline-block;
    color: white;
    font-size: 3vh;
    filter: none;
}

#goback-button {
    display: inline-block;

}

#tag-list {
    font-size: 3vh;
    color: var(--first-color);
    margin-bottom: 10px;
}

.delete-tag {
    background-color: red;
    color: white;
}
