:root {
    --first-color: #5f5dbd;
    --second-color: #5e87b8;
    --third-color: #83cee0;
    --fourth-color: #a4fbe3;
    --title-font: 'League Spartan', sans-serif;
    --content-font: 'Lexend', sans-serif;
  }

body {
    background-color: var(--third-color);
    font-family: var(--title-font);
}

header {
    background: rgb(95,93,189);
    background: radial-gradient(circle, rgba(95,93,189,1) 34%, rgba(94,135,184,1) 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
    font-family: var(--title-font);
    margin-bottom: 20px;
}

nav, nav a {
    color: var(--third-color);
    font-size: 3vh;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bolder;
    margin-right: 10px;
}

#project-title {
    display: inline-block;
    color: var(--fourth-color);
    font-size: 8vh;
}

#select-category {
    margin-bottom: 10px;
    font-size: 5vh;
    color: var(--first-color);
}

.category {
    background-color: var(--second-color);
    height: 13vh;
    text-decoration: none;
}

.category h4 {
    text-decoration: none;
    color: white;
}

.btn-outline-primary {
    color: var(--first-color);
}

footer {
    background: rgb(95,93,189);
    background: radial-gradient(circle, rgba(95,93,189,1) 34%, rgba(94,135,184,1) 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 60%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}